@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

form,
input,
textarea,
button,
p,
label {
  font-family: inherit;
  display: block;
  border: none;
  background: none;
  font-family: $typography-body;
  font-size: 1em;
  color: inherit;
  resize: none;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
}

h2 {
  font-family: $typography-title;
  font-size: 1.5em;
  line-height: 1.5em;
}
h1 {
  font-family: $typography-title;
  font-size: 2.5em;
}

p {
  font-family: $typography-body;
  font-size: 1em;
}
