
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

/*Colors*/
$primary-color: #2196f3;
$secondary-color: #ffffff;
$bg-input:rgba(33, 150, 243, 0.09);
$text-input:#BCC1CA;
$black-text:#323842;
$highlight-color:#ffa317;

/*Typography*/
$typography-title: "Lato", sans-serif;
$typography-body: "Montserrat", sans-serif;
